.text-style{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);

    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}